<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'b2bmember/css/style.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <title>{{title}}</title>
</head>
<body>
<div class="container" id="container">
	<div class="form-container sign-up-container">
		 <form action="{% url 'member_login' %}" method="POST" onsubmit="return validatePasswords()">
			{% csrf_token %}
			<h1>Create Account</h1>
            <img src="{% static 'b2bmember/images/logo.png'%}" alt="Fritware" style="width:250px;height:700px;" >
			<div class="social-container">
				<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
				<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
			</div>
			<span>or use your email for registration</span>
			{{ fm.non_field_errors }}

       		 {{ fm.first_name.errors }}
       		 <input type="text" name="first_name" placeholder="First Name" value="{{ fm.first_name.value }}" required />

       		 {{ fm.last_name.errors }}
       		 <input type="text" name="last_name" placeholder="Last Name" value="{{ fm.last_name.value }}"  required/>

       		 {{ fm.email.errors }}
        	<input type="email" name="email" placeholder="Email" value="{{ fm.email.value }}" required />

        	{{ fm.password1.errors }}
        	<input type="password" id="password1" name="password1" placeholder="Password" required/>

        	{{ fm.password2.errors }}
        	<input type="password" id="password2" name="password2" placeholder="Confirm Password" required/>

       		 <button type="submit">Sign Up</button>
			
		</form>
	</div>
	<div class="form-container sign-in-container">
		<form action="https://fritware.in">
			<h1>Sign in</h1>
            <img src="{% static 'b2bmember/images/logo.png'%}" alt="Fritware" style="width:300px;height:70px;" >
			<div class="social-container">
				<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
				<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
			</div>
			<span>or use your account</span>
			<input type="email" placeholder="Email" required/>
			<input type="password" placeholder="Password" required />
			<a href="#">Forgot your password?</a>
			<button onclick= "disp()">Sign In</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Welcome Back!</h1>
				<p>To keep connected with us please login with your personal info</p>
				<button class="ghost" id="signIn">Sign In</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Hello, Friend!</h1>
				<p>Enter your personal details and start journey with us</p>
				<button class="ghost" id="signUp">Sign Up</button>
			</div>
		</div>
	</div>
</div>

<footer>
	<p>
		Created with <i class="fa fa-heart"></i> by
		<a target="_blank" href="https://fritware.in">Fritware</a>
		- Fritware Solutions Private Limited
		<a target="_blank" href="https://fritware.in">here</a>.
	</p>
</footer>
<script src = "{% static 'b2bmember/js/scripts.js' %}"></script>
</body>
</html>